/node_modules
/public/hot
/public/storage
/public/js
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
public/.user.ini
public/php.ini
public/.htaccess
